// Add your custom CSS here.
.footer h1,.footer h2 {
    font-size: 23px;
    color: #000;
  }
  .order-lg-first h4 {
    h4 {
        font-size: 15px;
        color: #3d3d3d;
      }
  }
  #product {
    .prices__value small {
      font-size: 20 !important;
    }
  }
  // until api
  .prices__value small {
    display: none !important;
  }